{
  "globals": {
    "db": true,
    "noDbSet": true,
    "dailies": true,
    "QuestionMode": true,
    "YT": true,
    "confettea": true,
    "activeQuizQuestionIndex": true,
    "loadQuestion": true,
    "simpleCircleCipher": true,
    "activeQuiz": true,
    "beforeUnloadHandler": true,
    "show": true,
    "hide": true,
    "showView": true,
    "updateText": true,
    "setHasUnsavedChanges": true,
    "hasUnsavedChanges": true
  }
}