:root {
  color-scheme: light dark;
  --light-color-text: #000000;
  --light-color-bg: #ebebeb;
  --light-panel-bg: #c6c6c6;
  --light-table-even: #ffffff;
  --light-table-odd: #d7d7d7;
  --light-table-highlight: #87a3f3;
  --light-missed-answer-highlight: #f67070;
  --light-btn-bg: #ffffff;
  --light-btn-hover-bg: #cdcdcd;
  --dark-color-bg: #242329;
  --dark-panel-bg: #1d1d20;
  --dark-color-text: #efefef;
  --dark-table-even: #323138;
  --dark-table-odd: #282631;
  --dark-table-highlight: #ffffff;
  --dark-missed-answer-highlight: #6d1919;
  --dark-btn-bg: #3c3b45;
  --dark-btn-hover-bg: #2b2a32;
  --correct-answer-highlight: #1d6717;
  --incorrect-answer-guess-input-flash: #c02e2e;
  --default-shadow: 2px 2px 3px black;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
}

body {
  font-family: "Boogaloo", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  transition:
    background-color 2s,
    color 2s;
}

#heavySwitch {
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 10px;
}

#helpBtn {
  width: 40px;
  height: 40px;
}

#heavySwitch {
  z-index: 2;
}

#modalWrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#modalWrapper .modal-bg {
  background-color: rgba(20, 20, 20, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

:root.dark .modal {
  background: var(--dark-color-bg);
}

:root.light .modal {
  background: var(--light-color-bg);
}

.modal {
  position: relative;
  margin: 100px auto;
  padding: 2rem;
  width: 50%;
  min-width: 350px;
  max-width: 1200px;
  box-shadow: 3px 2px 8px black;
  border-radius: 8px;
  transition: background-color 2s;
  z-index: 2;
}

.modal-contents p {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 0.5rem;
  margin: 0.25rem 0 2rem;
}

:root.dark .dismiss-btn {
  color: var(--dark-color-text);
}
:root.light .dismiss-btn {
  color: var(--light-color-text);
}

.dismiss-btn {
  float: right;
  margin: 0 0 0 1rem;
  background: none;
  border: none;
  font-size: 24px;
  transition: color 2s;
}

:root.dark body {
  color: var(--dark-color-text);
  background-color: var(--dark-color-bg);
  text-shadow: var(--default-shadow);
}

:root.light body {
  color: var(--light-color-text);
  background-color: var(--light-color-bg);
  text-shadow: none;
}

div[hidden] {
  display: none !important;
}

svg {
  transition: fill 2s;
}

:root.dark svg {
  fill: var(--dark-color-text);
  filter: drop-shadow(2px 2px 1px black);
}

:root.light svg {
  fill: var(--light-color-text);
  filter: drop-shadow(2px 2px 1px #727272);
}

:root.dark a {
  color: #d0adf0;
}

:root.light a {
  color: #551a8b;
}

:root.dark input {
  color: #ffffff;
  background-color: #3b3b3b;
  border-color: #858585;
}

:root.light input {
  color: #000000;
  background: #ffffff;
  border-color: #767676;
}

#playbackControls svg {
  filter: none;
}

input {
  font-size: 1.5rem;
}

header {
  text-align: center;
}

header img {
  width: 50%;
  height: auto;
  max-width: 343px;
  max-height: 200px;
}

header img.img-small {
  width: 154px;
  height: 90px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
  width: 60%;
  margin: auto;
}

@media (max-width: 1990px) {
  main {
    width: 70%;
  }
}

@media (max-width: 1320px) {
  main {
    width: 90%;
  }
}

@media (max-width: 560px) {
  main {
    width: 100%;
  }
}

main > * {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  margin: 2rem 0 0.5rem;
}

.my-0,
.m-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0,
.m-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.my-1,
.m-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.mx-1,
.m-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2,
.m-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-2,
.m-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-3,
.m-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.mx-3,
.m-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.py-0,
.p-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0,
.p-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.py-1,
.p-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-1,
.p-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.text-btn {
  border: none;
  background: none;
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 8px;
  margin: 8px;
  font-size: 3rem;
  border-radius: 20px;
  transition: color 2s;
}

:root.dark .text-btn {
  color: var(--dark-color-text);
  text-shadow: var(--default-shadow);
  border: 2px solid #979797;
  box-shadow: 0px 0px 6px black;
}

:root.light .text-btn {
  color: var(--light-color-text);
  text-shadow: 2px 2px 3px #727272;
  border: 2px solid #a2a2a2;
  box-shadow: 0px 0px 6px #727272;
}

:root.dark .text-btn:hover,
:root.light .text-btn:hover {
  text-shadow: 0 0 0.25rem #dedede;
  border-color: #cdcccc;
}

:root.dark button.text-btn:disabled,
:root.dark button.text-btn:active,
:root.light button.text-btn:disabled,
:root.light button.text-btn:active {
  cursor: unset;
  text-shadow: var(--default-shadow);
  opacity: 0.6;
}
:root.dark button.text-btn:disabled:hover,
:root.light button.text-btn:disabled:hover {
  border-color: #979797;
}

:root.dark button.text-btn:active,
:root.light button.text-btn:active {
  text-shadow: none;
}

:root.dark select {
  background: #3b3b3b;
  color: #ffffff;
}

:root.light select {
  background: #f1f1f1;
  color: #000000;
}

button small {
  font-size: 1rem;
  line-height: 1;
}

#dailiesOverBtn {
    height: 40px;
    width: 40px;
}

#dailiesOverMsg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ripView {
  position: relative;
}

#vidPlayer {
  box-shadow: 0px 0px 15px black;
  border-radius: 10px;
  width: 48vw;
  height: 27vw;
  min-height: 170px;
  max-height: 345px;
  max-width: 615px;
}

#playbackControls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0 1rem;
}

#playbackControls button {
  display: flex;
  align-items: center;
  vertical-align: middle;
  background: none;
  border: 1px solid #b0afb3;
  border-radius: 5px;
  font-size: 1.5rem;
}

#seekBar {
  flex-grow: 1;
  margin: 0 0.5rem;
}

#volumeControls {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 0.25rem;
}

#volumeSlider {
  background: transparent;
}

#muteBtn > span {
  margin-top: 6px;
}

#statusRow {
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#statusMsg {
  width: 100%;
}

.status-text {
  height: 2rem;
}

#guessContainer {
  position: relative;
}

#guessInput,
#autofill-options {
  width: 30rem;
  max-width: 95%;
  z-index: 1;
}

:root.dark #guessInput {
  background-color: var(--dark-table-odd);
}

:root.light #guessInput {
  background-color: var(--light-table-odd);
}

:root.light #guessInput.incorrect,
:root.dark #guessInput.incorrect {
  background-color: var(--incorrect-answer-guess-input-flash);
  animation: shake 0.4s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

#autofill-options {
  position: absolute;
  left: 50%;
  translate: -50%;
  box-shadow: 2px 2px 10px black;
  text-align: left;
  max-height: 420px;
  overflow-y: auto;
  background-color: #e3e5ed;
}

.autofill-option {
  color: #000000;
  font-family: sans-serif;
  text-shadow: none;
  padding: 0.25rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-bottom: 1px solid #848484;
}

.autofill-option:hover,
.autofill-option.active {
  background: #adaeb4;
}

.option-source {
  font-size: 1rem;
}

.option-title {
  font-size: 1.5rem;
}

#ripInfoContainer {
  display: flex;
  column-gap: 1rem;
  flex-direction: column;
}

.answer-group {
  display: flex;
  column-gap: 1rem;
}

.answer-group > span {
  display: flex;
  flex: 1;
  justify-content: end;
}

.answer-group > span:nth-child(2) {
  justify-content: start;
  text-align: left;
}

#multiJokeDisplay {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  max-height: 44vh;
  overflow-y: auto;
  position: relative;
}

@media (min-width: 1981px) {
  #multiJokeDisplay {
    max-height: 52rem;
  }
}

#multiJokeContainer {
  column-width: 24rem;
}

.multi-joke-entry {
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
  height: 4rem;
  break-inside: avoid;
}

.multi-joke-entry > div {
  padding: 0.25rem;
}

.multi-joke-timestamp,
.multi-joke-joke {
  display: flex;
  justify-content: center;
  align-items: center;
}

.multi-joke-timestamp {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 6rem;
}

.multi-joke-joke {
  width: 17rem;
  word-break: break-word;
}

:root.dark .multi-joke-entry > .multi-joke-timestamp,
:root.dark .multi-joke-entry > .multi-joke-joke,
:root.dark table tr {
  background-color: var(--dark-table-odd);
}

:root.dark .multi-joke-entry:nth-child(2n) > .multi-joke-timestamp,
:root.dark .multi-joke-entry:nth-child(2n) > .multi-joke-joke,
:root.dark table tr:nth-child(2n) {
  background-color: var(--dark-table-even);
}

:root.light .multi-joke-entry > .multi-joke-timestamp,
:root.light .multi-joke-entry > .multi-joke-joke,
:root.light table tr {
  background-color: var(--light-table-odd);
}

:root.light .multi-joke-entry:nth-child(2n) > .multi-joke-timestamp,
:root.light .multi-joke-entry:nth-child(2n) > .multi-joke-joke,
:root.light table tr:nth-child(2n) {
  background-color: var(--light-table-even);
}

:root.light .free-text-answer.correct,
:root.dark .free-text-answer.correct {
  filter: drop-shadow(0px 0px 7px var(--correct-answer-highlight))
    drop-shadow(0px 0px 7px var(--correct-answer-highlight));
  color: #ffffff;
}

:root.dark .multi-joke-entry > .multi-joke-joke.correct,
:root.dark .multi-joke-entry:nth-child(2n) > .multi-joke-joke.correct,
:root.light .multi-joke-entry > .multi-joke-joke.correct,
:root.light .multi-joke-entry:nth-child(2n) > .multi-joke-joke.correct {
  background-color: var(--correct-answer-highlight);
  color: #ffffff;
}

:root.dark .multi-joke-joke.missed,
:root.dark .multi-joke-entry:nth-child(2n) > .multi-joke-joke.missed {
  background-color: var(--dark-missed-answer-highlight);
}

:root.dark .free-text-answer.missed {
  filter: drop-shadow(0px 0px 7px var(--dark-missed-answer-highlight))
    drop-shadow(0px 0px 7px var(--dark-missed-answer-highlight))
    drop-shadow(0px 0px 7px var(--dark-missed-answer-highlight));
}

:root.light .multi-joke-joke.missed,
:root.light .multi-joke-entry:nth-child(2n) > .multi-joke-joke.missed {
  background-color: var(--light-missed-answer-highlight);
}

:root.light .free-text-answer.missed {
  filter: drop-shadow(0px 0px 7px var(--light-missed-answer-highlight))
    drop-shadow(0px 0px 7px var(--light-missed-answer-highlight))
    drop-shadow(0px 0px 7px var(--light-missed-answer-highlight));
}

.fade {
  transition: all 1s ease;
}

.multi-joke-timestamp.highlight {
  color: #000000;
  text-shadow: none;
  font-weight: 900;
  box-shadow: inset 0px 0px 5px grey;
}

.long-song-title {
  font-size: 0.75rem;
}

:root.dark .multi-joke-timestamp.highlight {
  background-color: var(--dark-table-highlight) !important;
}

:root.light .multi-joke-timestamp.highlight {
  background-color: var(--light-table-highlight) !important;
}

#backBtn {
  font-size: 1.5rem;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  margin: 2rem auto 0;
}

footer p {
  margin: 0;
  font-size: 1.2rem;
}

footer aside {
  margin: 1rem 0 0.25rem;
}

.text-sm {
  font-size: 2rem;
}

.text-xs {
  font-size: 1rem;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input.vol[type="range"]::-webkit-slider-runnable-track {
  background-color: #b7bfc2;
  border-radius: 0.5rem;
  height: 3px;
}

/* slider thumb */
input.vol[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -6.5px;
  /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input.vol[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input.vol[type="range"]::-moz-range-track {
  background-color: #b7bfc2;
  border-radius: 0.5rem;
  height: 3px;
}

/* slider thumb */
input.vol[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input.vol[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/***/

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #b7bfc2;
  border-radius: 0.5rem;
  height: 0.75rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -10px;
  /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 2rem;
  width: 0.75rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #b7bfc2;
  border-radius: 0.5rem;
  height: 0.75rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none;
  /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 2rem;
  width: 0.75rem;
}

input[type="range"]:focus::-moz-range-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

.tooltip-container {
  position: relative;
}

.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  cursor: pointer;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
  height: 23px;
  width: 45px;
  margin-right: 0.5rem;
  box-shadow: inset 0px 0px 3px #000000;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  box-shadow: 0px 0px 4px rgb(87, 87, 87);
  transition: 0.4s;
  border-radius: 20px;
}

input:checked + .slider.switch {
  background-color: #28a41c;
}

input:focus + .slider.switch {
  box-shadow: 0 0 1px #145a0e;
}

input:checked + .slider:before {
  transform: translateX(21px);
}

#sickoSwitchHelpIcon {
  margin-left: 10px;
  font-size: 1.75rem;
  display: flex;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
}

.tooltip-icon:focus ~ .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: absolute;
  background-color: var(--light-color-bg);
  color: var(--light-color-text);
  text-shadow: none;
  font-family: "Roboto", sans-serif;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  bottom: 100%;
  transition: opacity 0.25s ease-out;
  box-shadow: var(--default-shadow);
}

td .tooltip {
  width: 18rem;
  left: -140%;
}

#createCustomQuizView div {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

table {
  width: 100%;
}

table thead tr {
  background: none;
}

#quizResultsTable thead tr th {
  font-weight: 400;
  font-size: 2.5rem;
}

#quizResultsTableBody {
  font-size: 1.75rem;
}

.mode-select {
  font-size: 1.5rem;
  border: none;
}

#createCustomQuizView .text-btn {
  font-size: 1.25rem;
  border-radius: 10px;
}

.remove-question-btn {
  font-size: 24px;
  background: none;
  border: none;
}
:root.dark .remove-question-btn {
  color: #ffffff;
}
:root.light .remove-question-btn {
  color: #000000;
}
:root.dark .remove-question-btn:hover {
  text-shadow: 0px 0px 5px #ffffff;
}
:root.light .remove-question-btn:hover {
  text-shadow: 0px 0px 5px #232323;
}

.arrange-btn-cell > button {
  font-size: 1rem;
  font-weight: 700;
}

.move-down-btn {
  margin-bottom: 0.5rem;
}

:root.dark .move-down-btn,
:root.dark .move-up-btn {
  background: #6b6b6b;
  color: #ffffff;
  border: 2px solid #6b6b6b;
  border-radius: 2px;
}

:root.light .move-down-btn,
:root.light .move-up-btn {
  background: #e5e5e5;
  color: #000000;
  border: 2px solid #bcbcbc;
  border-radius: 2px;
}

.move-up-btn[disabled],
.move-down-btn[disabled] {
  cursor: default;
  opacity: 0.5;
}

#nonExistSongsList {
  list-style: none;
  padding: 0;
}

.panel {
  min-width: 390px;
  min-height: 220px;
  padding: 1.5rem;
  justify-self: center;
}

:root.dark .panel {
  background: var(--dark-panel-bg);
  box-shadow: 0px 0px 8px var(--dark-panel-bg);
}

:root.light .panel {
  background: var(--light-panel-bg);
  box-shadow: 0px 0px 8px var(--light-panel-bg);
}

#savedQuizSelect {
  width: 24rem;
  font-size: 1.25rem;
}

#dailyArchiveView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#dailyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  max-width: 620px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.daily-archive-row {
  flex: 1 0 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 6px 0;
}

:root.dark .past-daily-btn {
  color: #ffffff;
  background-color: var(--dark-btn-bg);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

:root.dark .past-daily-btn:hover {
  background-color: var(--dark-btn-hover-bg);
}

:root.light .past-daily-btn {
  color: #000000;
  background-color: var(--light-btn-bg);
}

:root.light .past-daily-btn:hover {
  background-color: var(--light-btn-hover-bg);
}

.past-daily-btn {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px black;
  margin-left: 1rem;
  transition: color 2s;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.past-daily-btn:hover {
  background-color: #113d6b;
}

.past-daily-btn:active {
  box-shadow: none;
}

.daily-result {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .daily-result,
  .past-daily-btn {
    font-size: 1rem;
  }
}
